/* Add CSS Styling */

.odd {
    background-color: rgb(255, 130, 130);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.odd.cooler {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}