body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 430px;
  background: #fff;
  margin: 10px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin: 10px auto;
  font-size: 16px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 16px 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  font-size: 16px;
  padding: 10px 24px;
}